html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

#main-controllers {
  margin-top: 30px;
}

.center-text {
  text-align: center;
}

.position-control {
  height: 180px;
}

.dpad-area {
  height: 180px;
}

.dpad {
  margin-bottom: 30px;
}

.dpad button span {
  width: 24px;
  height: 24px;
}

.zoom-control {
  margin-top: 20px;
  height: 60px;
}

.zpad-area {
  height: 60px;
}

[name=zoom-tele],
[name=zoom-wide],
.up-button,
.left-button,
.right-button,
.down-button {
  position: relative;
  margin: 0;
}

[name=up-button],
[name=down-button] {
  position: relative;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 35px;
}


[name=up-button-slow],
[name=down-button-slow] {
  position: relative;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 25px;
}


[name=left-button],
[name=right-button-slow] {
  position: relative;
  margin-left: -3.5px;
  padding: 0;
  width: 25px;
  height: 600px;
}


[name=right-button],
[name=left-button-slow] {
  position: relative;
  margin-right: -3.5px;
  padding: 0;
}

[name=right-button],
[name=left-button] {
  width: 35px;
  height: 60px;
}

[name=right-button-slow],
[name=left-button-slow] {
  width: 25px;
  height: 60px;
}

.up-button {
  top: 0;
  left: 90px;
  width: 60px;
  height: 60px;
}

.left-button {
  left: -28px;
  top: 60px;
  width: 60px;
  height: 60px;
}

.right-button {
  left: 30px;
  top: 60px;
  width: 60px;
  height: 60px;
}

.down-button {
  left: -90px;
  top: 120px;
  width: 60px;
  height: 60px;
}

[name=zoom-tele] {
  left: 40px;
  width: 50px;
  height: 50px;
}

[name=zoom-wide] {
  left: 100px;
  width: 50px;
  height: 50px;
}

#videoinput-mem select,
#videoinput-mem input {
  margin-top: 25px;

}

.mem-button {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

.memoutput {
  padding-top: 25px;
}

.mediaoutput {
  padding-bottom: 20px;
  border-bottom: #b3b3b3 1px solid;
}

input,
#cameraid {
  width: 100%;
}

#camvideo-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-color: #99a;
}

#camvideo-start {
  z-index: 3;
}

#camvideo-reconnect {
  position: absolute;
  text-align: right;
  right: 0;
  top: 0;
  z-index: 3;
  color: #020;
}

#camvideo-reconnect:hover {
  color: #6b6;
}
#camvideo-reconnect:active {
  color: #5f5;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.video-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px 0px;
  font-size: 20px;
  color: #FFF;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.svg-container {
  position: relative;
  width: 100%;
  height: 100%;

  > svg {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
  }
}

#svg-polymaker {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
}

polygon {
  vector-effect: non-scaling-stroke;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: #ffd42a;
  stroke-opacity: 0.4;
  fill-opacity: 0.2;
  fill: #f2f2f2;
}

polygon:hover {
  fill-opacity: 0.5;
  stroke-opacity: 0.8;
}

.polymaker-poly {
  stroke: #2ad4FF;
  stroke-opacity: 0.8;
  fill-opacity: 0.5;
  fill: #4499f2;
}

.navbar form {
  margin-bottom: 0;
}

.add-video-mixer,
.add-camera {
  border-bottom: #b3b3b3 1px solid;
  margin-bottom: 15px;
}

.hide {
  display: none;
}