html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

.center-text {
  text-align: center;
}

#camera-control,
#zoom-control,
#position-mem  {
  margin-top: 50px;
}

button {
  margin: 15px;
  height: 60px;
  width: 60px;
}

.menu-control button,
#position-mem button,
#videoinput-mem button {
  margin: 15px;
  height: 40px;
  width: 40px;
}

#position-mem select,
#position-mem input,
#videoinput-mem select,
#videoinput-mem input {
  margin-top: 25px;

}

.memoutput {
  padding: 30px;
}

.mem-button {
  width: 100%;
}

.aux-button {
  width: 100%;
  margin-top: 30px;
}

input {
  width: 100%;
}

select[disabled] {
  color: #DCDAD1;
}


@media (max-width: 992px) {
  .hidden-xs {
    display: none;
  }
}
