html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

.center-text {
  text-align: center;
}

#camera-control,
#zoom-control,
.add-video-mixer,
.add-camera,
.add-media,
.position-set-mem  {
  margin-top: 50px;
}

button {
  margin: 15px;
  height: 60px;
  width: 60px;
}

.menu-control button,
#position-mem button,
#video-mixer button,
#add-camera button,
#add-media button,
#videoinput-mem button {
  margin: 15px;
  height: 40px;
  width: 40px;
  background-color: rgb(200, 200, 200);
}

#videoinput-mem select,
#videoinput-mem input {
  margin-top: 25px;

}

.mem-button {
  width: 100%;
}

.aux-button {
  width: 100%;
  margin-top: 30px;
}

#auxmode,
.memoutput {
  padding-bottom: 30px;
  border-bottom: rgb(100, 100, 100) 1px solid;
}

#camera-selection,
#auxmode,
.memoutput,
.mediaoutput {
  padding-top: 15px;
}

input {
  width: 100%;
}

select[disabled] {
  color: #DCDAD1;
}

#cameraid,
#movecamera {
  width: 100%;
}

@media (max-width: 992px) {
  .hidden-xs {
    display: none;
  }
}
